In [1]:
a = 5

In [3]:
name = 'Ram'
name

'Ram'

In [4]:
name= "shayam"
name

'shayam'

In [5]:
first name = 'suresh' # you cannot use space bar in variable name
   # you can use space bar in variable name

SyntaxError: invalid syntax (1138499730.py, line 1)

In [7]:
firstname = "ram"
firstname

'ram'

In [8]:
first_name = 'ram'
first_name

'ram'

# you cannot use space bar in variable name
   # the variable name and function name should be in snake_case in python
   # the classname should be on PascalCase
   # you can learn about this on pep-8 convention; code style guide

[PEP 8 â€” the Style Guide for Python Code](https://pep8.org/) #weblink tanna heading big bracket ra url small braket ma rakhne without any space

[Learn Python Programming](https://www.programiz.com/python-programming)

In [9]:
# Keywords cannot be variable names

In [12]:
help('keywords') # reserved words- variable name ma use garna mildaina

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [13]:
False = 0 # keywords word haru green aau6 ; variable name ma use garnu hunna green ma aauda

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [14]:
yield = 500

SyntaxError: assignment to yield expression not possible (2325370735.py, line 1)

# python keywords are case sensative

In [15]:
false = 0

In [16]:
# False is keyword & false is not so we can use false as variable name -- thatswhy its called case sensative

# python is a case sensitive language

In [17]:
A = 20
a = 33

In [18]:
print(A)

20

In [19]:
print(a)

33

In [20]:
print(a+A)

53

In [22]:
a = 3
a = 10
print(a) # latest value lin6

10

you cannot use special characters in variable name

In [23]:
@name = "ram"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3071248096.py, line 1)

In [24]:
first@name = 'suresh'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2763393296.py, line 1)

In [25]:
first-name= 'suresh'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2256050318.py, line 1)

In [26]:
first_name = 'suresh'

# numbers cannot be variable names. also they cannot appear at first of variable name. they can appear after a character in variable name

In [28]:
1name = 'test'

SyntaxError: invalid decimal literal (3359642292.py, line 1)

In [29]:
name1 = 'test'

In [30]:
20 = a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3955223923.py, line 1)