In [2]:
# case insensetive language
# SQL is a standard language for storing, manipulating and retrieving data in databases.

In [3]:
import sqlite3

# Create database and connect to database

In [4]:
connection = sqlite3.connect('student.db')

In [5]:
connection

# Cursor execute SQL Queries

In [7]:
cur = connection.cursor()

# Creating Table in the Database

Syntax:
```
create table table_name 
(column_name_1 datatype,
column_name_2 datatype...,
column_name_n datatype)
```

In [14]:
query= """
create table std
(
roll_no int,
name varchar(50)
)
"""

In [15]:
cur.execute(query)

# Insert Data to the created table above (Insert OPeration)

Syntax:

```sql
insert into table_name
(column_name_1, column_name_2, ....)
values
(value_1, value_2, ...)
```

In [16]:
query = """
insert into std
(roll_no, name)
values
(1, "Kshitiz"), 
(2, "Aavash")
"""

In [17]:
cur.execute(query)

# Read or select statement

syntax:

```
sql
select * from table_name
```
or

```
sql
select column_name1, column_name2 from table_name
```

In [20]:
query = "select * from std " # * means all queries
cur.execute(query).fetchall()

[(1, 'Kshitiz'), (2, 'Aavash')]

In [22]:
cur.execute('select name from std').fetchall()

[('Kshitiz',), ('Aavash',)]

# where clause/ conditional

In [23]:
query = """
select name from std
where roll_no = 2
"""

In [24]:
cur.execute(query).fetchall()

[('Aavash',)]

# Update Statement

```sql
update table_name
set column_name = value
where condition
```

In [28]:
query = """
update std
set name = "Kshitiz Regmi"
where roll_no = 1
"""

In [30]:
cur.execute(query)

In [32]:
cur.execute("select * from std").fetchall()

[(1, 'Kshitiz Regmi'), (2, 'Aavash')]

# Delete Rows in sql
syntax:

```
sql
delete from table_name
where condition
```

In [33]:
cur.execute('delete from std where roll_no = 1') # roll_no 1 ko data delete garne

In [34]:
cur.execute('select * from std') .fetchall()

[(2, 'Aavash')]

In [35]:
# CRUID Operation of data base